In [90]:
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [91]:
main_df = pd.read_csv('movies.csv')
df = main_df.copy()
print(df.shape)
pd.set_option('display.max_columns',None)
df.head(1)

(4803, 24)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [92]:
recom_feat = ['index','title','cast','genres','keywords','director']

In [93]:
new_df = df[recom_feat]
new_df.head()

,index,title,cast,genres,keywords,director
0,0,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,James Cameron
1,1,Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley Stel...,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Gore Verbinski
2,2,Spectre,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Action Adventure Crime,spy based on novel secret agent sequel mi6,Sam Mendes
3,3,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman Anne ...,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Christopher Nolan
4,4,John Carter,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Andrew Stanton

In [94]:
new_df.isna().sum()

index         0
title         0
cast         43
genres       28
keywords    412
director     30
dtype: int64

In [95]:
new_df.shape

(4803, 6)

In [96]:
new_df = new_df.fillna('')
new_df.isna().sum()

index       0
title       0
cast        0
genres      0
keywords    0
director    0
dtype: int64

In [97]:
new_df.head(1)

,index,title,cast,genres,keywords,director
0,0,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,James Cameron

In [98]:
combined_feat = new_df['title']+' '+new_df['cast']+' '+new_df['genres']+' '+new_df['director']+' '+new_df['keywords']

In [99]:
combined_feat

0       Avatar Sam Worthington Zoe Saldana Sigourney W...
1       Pirates of the Caribbean: At World's End Johnn...
2       Spectre Daniel Craig Christoph Waltz L\u00e9a ...
3       The Dark Knight Rises Christian Bale Michael C...
4       John Carter Taylor Kitsch Lynn Collins Samanth...
                              ...
4798    El Mariachi Carlos Gallardo Jaime de Hoyos Pet...
4799    Newlyweds Edward Burns Kerry Bish\u00e9 Marsha...
4800    Signed, Sealed, Delivered Eric Mabius Kristin ...
4801    Shanghai Calling Daniel Henney Eliza Coupe Bil...
4802    My Date with Drew Drew Barrymore Brian Herzlin...
Length: 4803, dtype: object

In [100]:
movie_name = 'batman'

In [101]:
list_of_movies = new_df['title'].to_list()
len(list_of_movies)

4803

In [102]:
related_movies = difflib.get_close_matches(movie_name,list_of_movies)
related_movies

['Batman', 'Batman', 'Catwoman']

In [103]:
most_close_match = related_movies[0]
most_close_match

'Batman'

In [104]:
vect = TfidfVectorizer()
vect

TfidfVectorizer()

In [105]:
combined_feat_vect = vect.fit_transform(combined_feat)
print(combined_feat_vect)

  (0, 14425)	0.22212670921932673
  (0, 3261)	0.25917503785940266
  (0, 16754)	0.13181785740568824
  (0, 14528)	0.3556081489155899
  (0, 5854)	0.18767372561034487
  (0, 3100)	0.23060174597886599
  (0, 3707)	0.22212670921932673
  (0, 2471)	0.1793489022038912
  (0, 7809)	0.11754904703299245
  (0, 5437)	0.10767939588044252
  (0, 13728)	0.10767939588044252
  (0, 5284)	0.11542535783031439
  (0, 238)	0.09430085253959876
  (0, 170)	0.08164397506394089
  (0, 13148)	0.20168608727942994
  (0, 10322)	0.1667461227601918
  (0, 8839)	0.23580014500028518
  (0, 14767)	0.1573177266234224
  (0, 16831)	0.20604347408586016
  (0, 14211)	0.2138604832941835
  (0, 13450)	0.22609868792212615
  (0, 17448)	0.20845327343836828
  (0, 17158)	0.2455016020784442
  (0, 13480)	0.15571157345215322
  (0, 1036)	0.2962233664994786
  :	:
  (4801, 4876)	0.2535523074724754
  (4801, 361)	0.18187718973706643
  (4801, 6980)	0.2961009192988059
  (4801, 11778)	0.22117043096289332
  (4801, 1690)	0.15953826496111637
  (4801, 3829)	0.3429574294506934
  (4802, 7039)	0.5155526141236372
  (4802, 5367)	0.2077488917620507
  (4802, 2465)	0.21709421212519522
  (4802, 3680)	0.2308869049340199
  (4802, 10837)	0.163908275070186
  (4802, 4643)	0.21709421212519522
  (4802, 6453)	0.19675316465688356
  (4802, 4375)	0.13912921440625245
  (4802, 13109)	0.15302505645417255
  (4802, 1318)	0.1773438122132163
  (4802, 4552)	0.35101818859877537
  (4802, 3893)	0.19020480999739658
  (4802, 3457)	0.19675316465688356
  (4802, 6178)	0.16105691467382957
  (4802, 17074)	0.15845823302392734
  (4802, 5016)	0.14542127111950243
  (4802, 2148)	0.28035478939525743
  (4802, 4536)	0.163908275070186
  (4802, 11296)	0.16706679682542735

In [106]:
similarity = cosine_similarity(combined_feat_vect)
print(similarity)

[[1.         0.0237934  0.04095406 ... 0.         0.         0.        ]
 [0.0237934  1.         0.01318767 ... 0.03982525 0.         0.        ]
 [0.04095406 0.01318767 1.         ... 0.         0.05773922 0.        ]
 ...
 [0.         0.03982525 0.         ... 1.         0.         0.05747071]
 [0.         0.         0.05773922 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.05747071 0.         1.        ]]

In [107]:
index_of_movie = new_df[new_df['title']==most_close_match]['index'].values[0]

In [108]:
similarity_score = list(enumerate(similarity[index_of_movie]))
similarity_score[:10]

[(0, 0.020199966340963337),
 (1, 0.03662661698012821),
 (2, 0.0169667786421754),
 (3, 0.21935285305646463),
 (4, 0.006940707205032465),
 (5, 0.13234695542276115),
 (6, 0.0),
 (7, 0.006224627667972149),
 (8, 0.03509317410056237),
 (9, 0.15779397796108252)]

In [109]:
similarity_score = sorted(similarity_score, key = lambda x:x[1], reverse = True)
similarity_score[:10]

[(1359, 1.0),
 (428, 0.5665358658680016),
 (210, 0.38375068988364136),
 (119, 0.2824447998677846),
 (65, 0.21936328819198403),
 (3, 0.21935285305646463),
 (299, 0.18276419081845682),
 (1512, 0.1764466603519025),
 (3854, 0.16494862408902025),
 (9, 0.15779397796108252)]

In [110]:
new_df[new_df['index']==2]['title'].values[0]

'Spectre'

In [111]:
movie_names = []
for i, names in similarity_score[:10]:
    name = new_df[new_df['index']==i]['title'].values[0]
    movie_names.append(name)

In [112]:
movie_names

['Batman',
 'Batman Returns',
 'Batman & Robin',
 'Batman Begins',
 'The Dark Knight',
 'The Dark Knight Rises',
 'Batman Forever',
 'A History of Violence',
 'Batman: The Dark Knight Returns, Part 2',
 'Batman v Superman: Dawn of Justice']

In [115]:
def pred(movie):
    
    list_of_movies = new_df['title'].to_list()

    related_movies = difflib.get_close_matches(movie,list_of_movies)

    most_close_match = related_movies[0]

    index_of_movie = new_df[new_df['title']==most_close_match]['index'].values[0]
    
    # similarity = cosine_similarity(combined_feat_vect)
    
    similarity_score = list(enumerate(similarity[index_of_movie]))
    
    similarity_score = sorted(similarity_score, key = lambda x:x[1], reverse = True)


    movie_names = []
    for i, names in similarity_score[:10]:
        name = new_df[new_df['index']==i]['title'].values[0]
        movie_names.append(name)

    return movie_names

In [122]:
pred('time')

['Primer',
 'Time Changer',
 'Hot Tub Time Machine',
 'The Time Machine',
 'Men in Black 3',
 'In Time',
 'Project Almanac',
 'About Time',
 '9',
 'Not Cool']